@mixin fullscreen {
    width: 1920px;
    height: 1080px;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

#app {
    @include fullscreen;
    display: grid;
    grid-template-rows: 735px 345px;
    grid-template-columns: 1920px;
    background-color: rgb(31, 28, 28);
}

.loading-container {
    @include fullscreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container, .app-background {
    grid-column: 1;
}

.app-background {
    @include fullscreen;
    z-index: 1;
    grid-row: 1/2;
}

.app-container {
    z-index: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 90px 15px 240px;
    grid-template-columns: 790px 340px 790px;

    .timer {
        width: 100%;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .timer-bar {
            height: 15px;
            background-color: blue;
            justify-self: center;
        }
    }

    .team-selection.-Blue, .team-selection.-Red {
        height: 100%;
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        .player-pick {
            height: 100%;
            width: 100%;
            overflow: hidden;
            .player-pick-container {
                height: 100%;
                display: grid;
                grid-template-rows: 85% 15%;
                grid-column: 100%;
                .player-pick-currentpick {
                    width: 100%;
                    grid-column: 1;
                    grid-row: 1 / 3;
                    z-index: 3;
                }
                .player-pick-champImage {
                    width: 100%;
                    grid-column: 1;
                    grid-row: 1 / 3;
                    z-index: 1;
                    animation: mover 2s;
                }
                .player-pick-name {
                    grid-column: 1;
                    grid-row: 2;
                    position: relative;
                    left: 4%;
                    z-index: 2;

                    font-size: large;
                    text-align: start;
                    color: white;
                    font-size: 35px;
                }
            }
        }
    }
    .team-selection.-Blue {
        grid-column: 1;
    }
    .team-selection.-Red {
        grid-column: 3;
    }

    .ban-selection.-Blue, .ban-selection.-Red {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        .ban-pick {
            width: 90px;
            height: 90px;
            overflow: hidden;
            .ban-pick-image {
                width: 100%;
                height: 100%;
                animation: mover 2s;
           }
       }
    }
    .ban-selection.-Blue {
        flex-direction: row;
        justify-content: flex-start;
    }
    .ban-selection.-Red {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .scoreboard {
        grid-column: 2;
        grid-row: 3;
        display: grid;
        grid-template-rows: 40% 25% 35%;
        grid-template-columns: 40% 20% 40%;
        color: white;
        font-size: 40px;
        align-items: center;
        font-weight: bolder;
        .team1Name {
            grid-column: 1;
            grid-row: 2;
            justify-self: flex-end;
        }
        .team2Name {
            grid-column: 3;
            grid-row: 2;
        }
        .team1Score {
            grid-column: 1;
            grid-row: 3;
            justify-self: flex-end;
        }
        .team2Score {
            grid-column: 3;
            grid-row: 3;
            justify-self: flex-start;
        }
        .versus {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            font-size: 20px;
        }
    }
    
    .timer {
        grid-column: 1/4;
        grid-row: 2;
    }
}

@keyframes mover {
    0% { 
        transform: translateY(200%); 
    }
    100% { 
        transform: translateY(0%); 
    }
}